
<div class="container">
  <h4 class="mt-3"> You have <strong><%= @chatrooms.count %></strong>  Messages</h4>


    <div class="background">
      <%# this for background image, needs to be STAY HERE! %>
    </div>


  <% @chatrooms.each_with_index do |chatroom, index| %>
    <% message_class = index.even? ? "message-1" : "message-2" %>
    <div class="notification <%= message_class %> mb-2">

      <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
      <div class="notification-content">
        <% if chatroom.present? %>
          <p><small><%= chatroom.other(current_user)&.user_name || "Unknown User" %></small></p>
          <% if chatroom.messages.present? %>
            <p><%= chatroom.messages.last.content %></p>
          <% else %>
            <p>No messages... yet</p>
          <% end %>
        <% else %>
          <p>No chatrooms found</p>
          <p><small>Unknown User</small></p>
        <% end %>
      </div>

      <div class="notification-actions">
        <% if chatroom.present? %>
          <%= link_to chatroom_path(chatroom) do %>
            <i class='fa-solid fa-chevron-right'></i>
          <% end %>
        <% end %>
      </div>






    </div>

  <% end %>

</div>
