<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-current-user-id-value="<%= current_user.id %>"
>

  <div class="background">
    <%# this for background image, needs to be STAY HERE! %>
  </div>

  <div class="back-icon mt-3">
    <%= link_to "/chatrooms" do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
  </div>


  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>



  <%= simple_form_for [@chatroom, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex  sticky-button" } do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message from #{current_user.user_name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
