<div class="profiles-all" data-controller="swipe">
  <div class="floating-icon">
    <i class="fa fa-remove gone nope" data-swipe-target="nope"></i>
    <i class="fa fa-heart gone heart" data-swipe-target="like"></i>
  </div>
  <div class="profile-cards">
  <% @users.each do |user| %>
    <div class="single-card"
      data-swipe-target="swipeCard" data-swipe-profile-value=<%= user.id %>>

      <div class="profile-card">
        <div class="img-card" style="background-image: url('<%= cl_image_path(user.photo.key) if user.photo.attached? %>');">
        </div>
          <div class="div"></div>
          <div class="profile-description">
            <div class="name">
              <div class="name-title"><%= user.user_name%></div>
              <p class="p"><%= user.address %></p>
              <p class="p"><%= user.description %></p>
          </div>
      </div>
          <div class="d-flex justify-content-between position-absolute">
            <%= simple_form_for @match, data: { swipe_target: "dislikeForm" },  html: { class: 'd-none' } do |f| %>
              <%= f.input :profile, as: :hidden, input_html: { value: user.id } %>
              <%= f.input :form, as: :hidden, input_html: { value: "dislike" }%>
              <%= f.submit %>
            <% end %>
            <%= simple_form_for @match, data: { swipe_target: "likeForm" },  html: { class: 'd-none' } do |f| %>
              <%= f.input :profile, as: :hidden, input_html: { value: user.id } %>
              <%= f.input :form, as: :hidden, input_html: { value: "like" }%>
              <%= f.submit %>
            <% end %>
          </div>
      </div>



    </div>
  <% end %>
  </div>
</div>
