<div class="container">

    <div class="profile-image-container" data-controller="photo">
      <% if current_user.photo.attached? %>
        <%= image_tag(current_user.photo, class: "profile-image", alt: "avatar") %>

      <% else %>
        <img class="profile-image" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" alt="Change your image">
      <% end %>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "photo-button-form", data: {photo_target: "form"} }) do |f| %>
        <%= f.error_notification %>
          <%= f.input :photo, autofocus: true, input_html: {class: "d-none", data: {action: "change->photo#changePhoto"}}, label_html: {class: "photo-button"}, label: "+" %>
      <% end %>

    </div>

    <div>
      <div style="text-align: center;">
        <h4 class="profile-name"><%= @user.user_name.capitalize %></h4>
      </div>

      <div>
      <div style="text-align: justify;">
      <h5>My Interests :</h5>
      </div>

      <% if @user_interests.present? %>
        <div class="user-added-interest d-flex flex-wrap mb-3 mt-3">
          <% @user_interests.each do |user_interest| %>
            <a href="#" class="btn btn-sm button-1 mb-1"><%= user_interest.interest.name %></a>
          <% end %>
          <%= link_to "+", new_user_interest_path, class: "btn btn-primary mb-3" %>

        </div>
      <% end %>

      <div>
          <h5>About me :</h5>
        <div class="user-infos">
          <p><%= @user.description %></p>
        </div>
      </div>
    </div>
    <div style="text-align: center; height: 50px;" class="sticky-button1">
      <%= link_to "Continue", new_user_interest_path, class: "btn btn-primary mb-3" %>
    </div>
