<div class="container">

    <div class="profile-image-container">
      <img class="profile-image" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" alt="Change your image">
      <i class="plus-icon fa-solid fa-circle-plus"></i>

    </div>

    <div>
      <div style="text-align: center;">
        <h4 class="profile-name"><%= @user.user_name.capitalize %></h4>
        <h6><%= @user.email %></h6>
        <p><%= @user.address %></p>
        <h4 class="mb-3">My Interests</h4>
      </div>
      <div class="user-added-interest d-flex flex-wrap mb-3">
        <% @user_interests.each do |user_interest| %>
          <a href="#" class="btn btn-sm button-1 mb-2 me-2"><%= user_interest.interest.name %></a>
        <% end %>
      </div>

      <div>
          <h5>About me :</h5>
        <div class="user-infos">
          <p><%= @user.description %></p>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <%= link_to "Add interest", new_user_interest_path, class: "btn btn-sm btn-primary" %>
    </div>

</div>
